.watu-question, #action-button {
	display:none;
}

form.quiz-form {
	text-align:left;
}

.single-page-quiz .watu-question, .single-page-quiz #action-button {
	display:block;
}
.single-page-quiz #next-question {
	display:none;
}
.question-content {
	margin-top:20px;
}


.answer span {
	padding-right:20px;
}
.user-answer span {
	font-weight:bold;
	background:url(wrong.png) no-repeat right top;
}
.correct-answer span {
	background:url(correct.png) no-repeat right top;
}


.watu-sidebox
{
	border:1px solid black;
	padding:10px;
	margin-bottom: 20px;
}

#watu-sidebar
{
	float:left;
	width:25%;
}

#watu-related, #watu-ad
{
	background-color: #BBEEDD;
}

.quiz-form label {
   display: inline !important;
}

.quiz-form input[type='checkbox'] {
   display: inline !important;
}

.quiz-form input[type='radio'] {
   display: inline !important;
}

.show-question {
	border-bottom: 1px dashed #DDD;
	margin-bottom: 7px;	
}

.show-question-content {
	font-size:110%;
}

.watu-admin label {
	min-width: 150px;
	display:block;
	float:left;
}